<div class="container">
<h1>Add an ingredient</h1>
<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, as: :select, collection: Ingredient.all.order(:name) %>
  <%= f.submit %>
<% end %>

</div>
